---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InterestCard from "../components/InterestCard.astro";
import SkillCard from "../components/SkillCard.astro";
import ProjectCard from "../components/ProjectCard.astro";

import AviationCover from "@/assets/aviation-cover.jpg";
import DevelopmentCover from "@/assets/development-cover.jpg";
import GamesCover from "@/assets/games-cover.jpg";
import Logo from "@/assets/logo.png";
import CrystalMarble from "@/assets/CrystalMarble.png";
---

<Layout>
  <main class="flex flex-col items-center justify-center gap-4 w-screen">
    <Hero />

    <h1 class="text-4xl dark:text-white font-semibold">My Interests</h1>
    <InterestCard
      title="Aviation"
      description="I love all things in aviation: planes (civilian, military, private, you name it!), helicopters, airports and more! I also spend way too much time playing flight simulator, watching YouTube videos and reading stuff about them."
      image={AviationCover}
      imageAlt="Cover image for aviation"
    />
    <InterestCard
      title="Development"
      description="I like web (both front-end and back-end), mobile, desktop and mod development. I know TypeScript (we don't talk about JS here), C#, Python and I'm learning C++."
      image={DevelopmentCover}
      imageAlt="Cover image for development"
    />
    <InterestCard
      title="Games"
      description="I love gaming. I'm a big fan of Marble it Up! Ultra and Classic (I'm the developer of CrystalMarble: the marble it up! Mod loader), but also Minecraft (Java, btw), MS Flight Simulator and Leaf Blower Revolution (real AAA game lol)"
      image={GamesCover}
      imageAlt="Cover image for games"
    />

    <h1 class="text-4xl dark:text-white font-semibold">My Skills</h1>
    <div class="flex flex-row justify-center flex-wrap gap-4 m-4">
      <SkillCard
        skill="Python"
        proficiency="Almost expert"
        width="90%"
        color="yellow"
      />
      <SkillCard
        skill="TypeScript"
        proficiency="Proficient"
        width="80%"
        color="blue"
      />
      <SkillCard
        skill="React"
        proficiency="Intermediate"
        width="60%"
        color="sky"
      />
      <SkillCard
        skill="C#"
        proficiency="Intermediate"
        width="75%"
        color="green"
      />
      <SkillCard skill="Astro" proficiency="Beginner" width="35%" color="red" />
      <SkillCard
        skill="React Native (Expo)"
        proficiency="Intermediate"
        width="50%"
        color="red"
      />
      <SkillCard
        skill="WinUi 3 / WPF"
        proficiency="Intermediate"
        width="55%"
        color="cyan"
      />
    </div>

    <h1 class="text-4xl dark:text-white font-semibold">My Projects</h1>
    <div class="flex flex-row justify-center flex-wrap gap-4 m-4">
      <ProjectCard
        image={Logo}
        imageAlt="Portfolio Logo"
        title="Portfolio"
        description="My personal website, built with Astro."
        link="https://github.com/StarNumber/starnumber12046.github.io"
      />
      <ProjectCard
        image={CrystalMarble}
        imageAlt="CrystalMarble Logo"
        title="CrystalMarble"
        description="The Marble it Up! modding toolkit..."
        link="https://github.com/CrystalMarble"
      />
    </div>
  </main>
</Layout>
